$spacing-1: 1rem;
$spacing-2: 2rem;
$spacing-3: 3rem;
$spacing-4: 4rem;
$spacing-5: 5rem;



.button {
    font-weight: 500;
    font-variant: all-small-caps;
    font-stretch: extra-condensed;
    display: inline-block;
    padding: 3px 6px;
    min-width: 4rem;
    background-color: transparent;
    background-image: linear-gradient(151deg, #05111C 0%, #1966ff 78%, rgba(255, 255, 255, 0) 100%);
    background-position: 0% 0%;
    background-size: auto auto;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    cursor: pointer;
    color: #FFFFFF;
    outline: none;
    opacity: 1;

    &:hover {
        opacity: 0.5;
    }

    border:1px solid #FFFFFF;

    font-size:1.25rem;
    padding-right: $spacing-2;
    padding-left: $spacing-2;
    line-height:2rem;
    border-radius: $spacing-4;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
}