@import '../../varialbles.scss';

.btn {
    display: inline-block;
    background-color: rgb(33, 33, 33);
    border: 1px solid $primary;
    color: #E6E6E6;
    border-radius: $spacing-5;
    padding-top: $spacing-1;
    padding-bottom: $spacing-1;
    padding-right: $spacing-3;
    padding-left: $spacing-3;
    margin-left: 0rem;
    margin-top: $spacing-2;

    &:hover {
        background-color: rgba(33, 33, 33, 0.46);
    }

    background: $primary;
    cursor:pointer;
}